body{
    margin:0;
}
p{
    font-family: Robot,Arial;
    font-size: 16px;
}
.header{
    display:flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fix the header to the top */
    top: 0; /* Position it at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays on top */
    background-color: white; /* Ensure it covers content underneath */
}
.left-portion{
    display:flex;
    flex-shrink: 0;
    width:220px;
    justify-content: left;
    align-items: center;
}
.middle-portion{
    padding-left: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:0;
    flex:1;
    min-width: 150px;
}
.right-portion{
    flex:1;
    display:flex;
    justify-content: right;
    align-items: right;
}
.youtube-menu-icon{
    width: 24px;
    height: 24px;

}
.youtube-logo{
    margin-left:20px;
    width:90px;
    height:20px;
}
.searchbar{
    margin-top:5px;
    margin-left:50px;
    width:500px;
    height: 40px;
    border-right:0px;
    border-color:gray;
    border-style: solid;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    margin-bottom:10px;
}
.searchbar::placeholder{
    padding-left: 5px;
    font-size: 18px;
}
.searchbar:focus{
    outline: none;
    box-shadow: inset 2px 2px 2px gray,inset -2px -2px 2px gray;
}
.search-logo{
    height:24px;

}
.voice-logo{
    
    height:24px;
    border-radius:20px;
    
}
.create-logo{
    height: 24px;
}
.bell-logo{
    height: 24px;
}
.profile-logo{
    border-radius:20px;
    height: 32px;
}